@{
    ViewData["Title"] = "Welcome to ChiY";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h4>Please <a asp-action="SignIn">sign in</a>!</h4>
    <p>(If you are the manager, please proceed to the <a asp-controller="Manager" asp-action="Index"> manager section</a>!)</p>
</div>
