@model StoreWeb.Models.Product

@{
    ViewData["Title"] = "Add a Ticket Category";
}

<h1>Add a Ticket Category to the Ticket Catalog</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TripType" class="control-label"></label>
                <input asp-for="TripType" class="form-control" />
                <span asp-validation-for="TripType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketType" class="control-label"></label>
                <input asp-for="TicketType" class="form-control" />
                <span asp-validation-for="TicketType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerType" class="control-label"></label>
                <input asp-for="PassengerType" class="form-control" />
                <span asp-validation-for="PassengerType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Manager" asp-action="GetAllProducts">Back to Ticket Category List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
